
 <div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<!-- 
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> 
        <div><span class=title>{{element.year}}</span></div> </td>
    </ng-container>
  --> 
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> 
        <div><span class=title>{{element.title}}</span> <br>
        <span class=subtitle>{{element.subtitle}}</span>
         </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="president">
      <th mat-header-cell *matHeaderCellDef> President </th>
      <td mat-cell *matCellDef="let element">
        <div><span class=title>{{element.president}}</span></div>  </td>
    </ng-container>
  
    <ng-container matColumnDef="vp">
      <th mat-header-cell *matHeaderCellDef> VP </th>
      <td mat-cell *matCellDef="let element">
        <div><span class=title>{{element.vp}}</span></div>  </td>
    </ng-container>

    <ng-container matColumnDef="results">
      <th mat-header-cell *matHeaderCellDef> Results </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="openDialog(element.candidates)">view {{element.year}} results</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>